.staking {
	position: relative;
	background-position: 0 0, 0 0;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, fixed;
	z-index: 1;
}

.staking-heading span {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%), #fff;
	-webkit-background-clip: text;
}

.wrapper-animation .blockchain-wrapper {
	position: relative;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 7.5rem;
	width: 7.5rem;
	-webkit-transform-origin: 3.75rem 3.75rem;
	transform-origin: 3.75rem 3.75rem;
	-webkit-transform: rotateX(50deg) rotateZ(45deg);
	transform: rotateX(50deg) rotateZ(45deg);
	-webkit-animation: rotate 4s linear infinite;
	animation: rotate 4s linear infinite;
}

.wrapper-animation .blockchain-wrapper .pyramid {
	position: absolute;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.wrapper-animation .blockchain-wrapper .square {
	height: 7.5rem;
	width: 7.5rem;
	background: #3f65ff;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(1) {
	width: 7.5rem;
	top: -33%;
	background: #728eff;
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: rotateX(-68deg);
	transform: rotateX(-68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(2) {
	width: 7.5rem;
	background: #728eff;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform: rotateX(68deg);
	transform: rotateX(68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(3) {
	height: 7.5rem;
	left: -33%;
	background: #a5b7ff;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-clip-path: polygon(100% 100%, 0 50%, 100% 0);
	clip-path: polygon(100% 100%, 0 50%, 100% 0);
	-webkit-transform: rotateY(68deg);
	transform: rotateY(68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(4) {
	height: 7.5rem;
	background: #a5b7ff;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
	clip-path: polygon(0 100%, 100% 50%, 0 0);
	-webkit-transform: rotateY(-68deg);
	transform: rotateY(-68deg);
}

.wrapper-animation .blockchain-wrapper .pyramid.inverse {
	-webkit-transform: translateZ(-1.42857rem) rotateY(180deg);
	transform: translateZ(-1.42857rem) rotateY(180deg);
}

.blockchain-wrapper .triangle {
	position: absolute;
	height: 10rem;
	width: 10rem;
}

.card {
	padding: 1rem;
	border: none;
	border-radius: 8px;
	background-color: var(--primaryDark);
	-webkit-box-shadow: 0 3px 20px 0px var(--primaryDark);
	box-shadow: 0 3px 20px 0px var(--primaryDark);
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
}

.participant .card {
	padding: 3rem 2rem;
	border-radius: 2rem;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.apply-btn {
	background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%),
		hsla(0, 0%, 100%, 0.1);
	border: none;
	cursor: pointer;
	margin: 0 5px;
	outline: none;
	padding: 10px 20px;
}
