.hamburger {
	display: none;
}

.header {
	z-index: 1000;
	position: relative;
	width: 100%;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--pure);
	margin: 6px 0;
	transition: 0.4s;
}

.sticky {
	position: fixed;
	top: 0;
	background: var(--primaryDark);
	z-index: 9;
	box-shadow: 5px 3px 15px 1px var(--primaryDark);
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.main__navlinks ul .active {
	background: var(--primaryG);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	margin: 0 5px;
	outline: none;
	padding: 10px 16px;
}

@media (max-width: 950px) {
	.home-large-navLinks,
	.home-large-connectWalletBtn {
		display: none;
	}
	.hamburger {
		display: block;
	}
}

@media (max-width: 1140px) {
	.downloadBtnContainer {
		display: none;
	}
}
