.speciality {
	padding: 100px 0 75px;
	position: relative;
}

.sp-shape {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#725bda 0,
		rgba(6, 19, 45, 0) 100%
	);
	content: "";
	height: 1000px;
	right: -280px;
	opacity: 0.2;
	position: absolute;
	top: -109px;
	width: 1000px;
	z-index: 0;
}

.speciality-box {
	background: linear-gradient(
		180deg,
		hsla(0, 0%, 100%, 0.05),
		hsla(0, 0%, 100%, 0) 73.86%
	);
	border-radius: 15px;
	margin-top: 108px;
	padding: 65px 20px 10px;
	position: relative;
	text-align: center;
	z-index: 2;
}

.Laaverse {
	top: 100px;
	left: 100px;
	height: 600px;
}

.speciality-box .icon {
	align-items: center;
	background: linear-gradient(289.89deg, #dec7ff -23.71%, #5c27fe 96.09%);
	border-radius: 50%;
	display: flex;
	height: 105px;
	justify-content: center;
	left: 50%;
	min-width: 105px;
	position: absolute;
	top: -18px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all 1s ease-in-out;
	width: 105px;
}

.speciality-box:hover .icon {
	-webkit-transform: translate(-50%, -50%) rotateY(-1turn);
	transform: translate(-50%, -50%) rotateY(-1turn);
}

.speciality-box .number {
	color: hsla(0, 0%, 100%, 0.1);
	transition: all 0.3s ease-in-out;
}

.speciality-box .number:hover {
	color: #fff;
}

@media only screen and (max-width: 767px) {
	.speciality {
		padding: 0px;
	}
}
