.artworks-area {
	margin-top: 50px;
}
.category-item a {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: 1px solid transparent;
	backdrop-filter: blur(2px);
	background: hsla(0, 0%, 100%, 0.1);
	display: inline-flex;
	align-items: center;
	height: 50px;
	border-radius: 5px;
	padding: 0 23px;
	justify-content: center;
	width: 100%;
}

.category-item a img {
	max-width: 19px;
	max-height: 19px;
	margin-right: 10px;
}

.filter-by-search {
	display: grid;
	grid-template-columns: 220px auto;
}

.item-category-select {
	width: 220px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px 0 0 10px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	color: #fff;
	font-weight: 600;
	backdrop-filter: blur(2px);
	background: hsla(0, 0%, 100%, 0.1);
	border-right-color: hsla(0, 0%, 100%, 0.1);
	padding: 0 15px;
}

.filter-search-input {
	position: relative;
}

.filter-search-input input {
	width: 100%;
	height: 50px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	backdrop-filter: blur(2px);
	background: hsla(0, 0%, 100%, 0.1);
	border-radius: 0 10px 10px 0;
	outline: none;
	padding: 0 50px 0 20px;
}

.card {
	border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.filter-search-input input[type="text"] {
	color: var(--pure);
}
.filter-search-input button {
	position: absolute;
	right: 20px;
	top: 18px;
	color: #f9f5f5;
}

.select-category-title {
	width: 45%;
	height: 50px;
	line-height: 50px;
	border-radius: 10px 0 0 10px;
	padding-left: 20px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-right-color: hsla(0, 0%, 100%, 0.1);
	background: hsla(0, 0%, 100%, 0.1);
}

.sale-category-select {
	height: 50px;
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 0 10px 10px 0;
	background: hsla(0, 0%, 100%, 0.1);
	padding: 0 15px;
	width: 65%;
	color: #fff;
}

.card:hover .place-bid {
	opacity: 1;
}

.place-bid {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: visible;
	background: var(--primaryG);
	background-size: 200% 100%;
	border-radius: 5px;
	color: #fff;
	transition: 0.3s;
	z-index: 999;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
}

.place-bid:hover {
	color: var(--pure);
}
.card-action {
	position: absolute;
	right: 30px;
	top: 30px;
	transition: 0.3s;
	z-index: 1;
}

.card-action-like {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	color: var(--pure);
	font-size: 16px;
	background: rgba(0, 0, 0, 0.5);
}

.card-action-like-count {
	position: absolute;
	right: 48px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	font-size: 14px;
	font-weight: 600;
	color: var(--pure);
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	line-height: 40px;
	padding: 0 10px;
	display: inline-block;
}

.card-action:hover .card-action-like-count {
	opacity: 1;
	visibility: visible;
}

.card-action-like:hover {
	background: var(--primaryG);
	color: var(--pure);
}
.card-action-like-count:after {
	position: absolute;
	content: "";
	width: 5px;
	height: 9px;
	background: rgba(0, 0, 0, 0.5);
	right: -5px;
	-webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	top: 50%;
	transform: translateY(-50%);
}

.mark-img-line {
	left: 0;
	position: absolute;
	bottom: -300px;
	z-index: 0;
}

@media only screen and (max-width: 767px) {
	.filter-by-search {
		display: inherit;
	}

	.filter-search-input {
		margin-top: 20px;
	}

	.filter-search-input input {
		border-radius: 10px;
	}

	.item-category-select {
		border-radius: 10px;
	}

	.select-category-title {
		width: 50%;
	}
}
