.project-box {
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background: linear-gradient(
		89.96deg,
		hsla(0, 0%, 100%, 0.05) 0.03%,
		hsla(0, 0%, 100%, 0.008) 49.67%,
		hsla(0, 0%, 100%, 0.05) 99.96%
	);
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 26px;
	margin-bottom: 110px;
	padding: 20px;
	position: relative;
}

.project-box .image {
	border-radius: 20px;
	height: 375px;
	overflow: hidden;
}

.project-box:hover .image img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.project-box .image img {
	height: 100%;
	object-fit: cover;
	transition: all 0.5s ease-in-out;
	width: 100%;
}

.project-box .content {
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background: hsla(0, 0%, 100%, 0.1);
	border-radius: 11px;
	bottom: 30px;
	left: 30px;
	padding: 17px;
	position: absolute;
	right: 30px;
	text-align: center;
}

.projectSlider .swiper-pagination-bullet {
	width: 50px !important;
	height: 5px !important;
	background: lightgray !important;
	border-radius: 10px !important;
	color: var(--pure) !important;
	opacity: 1 !important;
}
.projectSlider .swiper-pagination-bullet-active {
	background-color: var(--primaryG) !important;
}
