@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	font-family: "Poppins", sans-serif;
	background-color: #070a29;
	overflow-x: hidden;
	position: relative;
}

:root {
	--primary: #62137d;
	--primaryHover: #4e0866;
	--primaryG: rgb(175, 68, 212);
	--darkBlue: #06021a;
	--yellow: #c4a73d;
	--primaryLight: #d6a8ed;
	--primaryDark: #250328;
	--pure: #fff;
	--light: rgb(230, 230, 230);
	--dark: #000;
	--darkLight: rgb(26, 26, 26);
	--gray: #5a5a5a;
}
.h {
	color: #2503288c;
}

.scrolTop {
	align-items: center;
	background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
	border-radius: 4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	bottom: 23px;
	cursor: pointer;
	display: block;
	display: flex;
	height: 50px;
	justify-content: center;
	line-height: 50px;
	overflow: hidden;
	position: fixed;
	right: 14px;
	text-align: center;
	width: 50px;
	z-index: 999;
}

@media only screen and (max-width: 767px) {
	html {
		overflow-x: hidden;
	}
}
