.portfolio {
	position: relative;
}

.portfolio-box {
	background: linear-gradient(
		180deg,
		hsla(0, 0%, 100%, 0.05),
		hsla(0, 0%, 100%, 0) 73.86%
	);
	border-radius: 16px;
	display: flex;
	margin-bottom: 19px;
	padding: 40px 23px;
	position: relative;
	z-index: 2;
}

.pf-shape {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#725bda 0,
		rgba(6, 19, 45, 0) 100%
	);
	content: "";
	height: 2000px;
	right: 250px;
	opacity: 0.3;
	position: absolute;
	top: -450px;
	width: 2000px;
	z-index: 1;
}

.portfolio-box .step {
	color: var(--primaryG);
	border: 1px solid var(--primaryG);
	border-radius: 100px;
	font-family: Conthrax;
	font-size: 12px;
	font-weight: 600;
	left: 22px;
	padding: 6px 16px;
	position: absolute;
	top: -15px;
}

.portfolio-box .content {
	border-left: 1px solid hsla(0, 0%, 100%, 0.1);
	padding-left: 16px;
}

.portfolio .portfolio__right .image {
	-webkit-animation: animate-1 15s linear 0s infinite;
	animation: animate-1 15s linear 0s infinite;
}

.portfolio-box:hover {
	box-shadow: 3px 3px 2px 2px var(--primary);
}

.image {
	position: relative;
	top: 50%;
}

.port_img {
	animation: right-to-left-port 10s ease-in-out infinite;
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	z-index: 3;
}

@keyframes right-to-left-port {
	0% {
		transform: translateX(0%) translateY(-50%);
	}
	50% {
		transform: translateX(5%) translateY(-50%);
	}
}
