.faq__main ul {
	align-items: center;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.faq__main ul li a {
	background: hsla(0, 0%, 100%, 0.1);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	margin: 0 5px;
	outline: none;
	padding: 10px 16px;
}

.faq__main ul li a {
	color: #fff;
}

.faq-body {
	background: linear-gradient(
		89.96deg,
		hsla(0, 0%, 100%, 0.05) 0.03%,
		hsla(0, 0%, 100%, 0.008) 49.67%,
		hsla(0, 0%, 100%, 0.05) 99.96%
	);
	margin-bottom: 12px;
}

.collapse-title {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.collapse-content {
	color: #fff;
}

.faq__main ul .active {
	background: var(--primaryG);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	margin: 0 5px;
	outline: none;
	padding: 10px 16px;
}

@media (max-width: 550px) {
	.faq__main ul {
		display: block;
	}

	.faq__main ul li {
		margin-bottom: 10px;
	}
}
